.main-container {
  padding: 0px;
  margin: 0px auto;
  max-width:786px;
  width: 100%;

}
.header{
  padding: 20px;
  width: calc(100%-40px);
  background: grey;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.medicine-interval{
padding: 20px;
  width: calc(100%-40px);
  background: green;
  text-align: left;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.medicine{
padding: 20px;
  width: calc(100%-40px);
  background: blue ;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.medicine-name{
    text-align: left;
    display: inline-block;
    width: 80%;
}

.medicine-checkbox{
  text-align: right;
    display: inline-block;
    width: 20%;
}

.medicine-checkbox input{
 
}